aws_region   = "ap-south-1"
project_name = "invoiceflow"

instance_type = "t3.medium"
key_name      = "your_key_pem"

ssh_allowed_ip = "your_ssh_cidr/32"

github_raw_argocd_app_url = "https://raw.githubusercontent.com/PrabalPiya/invoiceflow-devops-infrastructure/main/argocd/application.yaml"

db_name     = "invoiceflow"
db_username = "postgres"
db_password = "postgres"

jwt_secret = "your_secret_key"
